body
{
	margin: 0px;
	user-select: none;
	background: #191919;
	font-family: 'Anton', sans-serif;
}
.popup
{
	position: absolute;
    width: 50%;
    height: 100px;
    left: 25%;
    top: 20%;
    background: #191919e8;
    border: 1px solid grey;
    color: white;
}
.option
{
	display: flex;
}
.my-checkbox
{
	width: 12px;
    height: 12px;
    border: 1.5px solid white;
    background: #00de51;
    margin-top: 5px;
    margin-left: 6px;
}

.freezed
{
    background: #0000000a;
    border: 1px solid;
}